.accordeon {
  width: 70%;
  margin: 30px auto;

  .zoneDeContenu {
    position: relative;
    font-weight: 400;
    margin: 15px 0px;
    background-color: #f6f6f6;
    border-radius: 10px;
    .etiquette {
      display: flex;
      position: relative;
      align-items: center;
      font-weight: bolder;
      min-height: 50px;
      padding: 10px;
      background-color: #ff6060;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  span {
    position: absolute;
    right: 15px;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
  }
  .active {
    span {
      transform: rotate(270deg);
    }
  }
  .contenu {
    max-height: 0;
    overflow: hidden;
    line-height: 20px;
    overflow-y: auto;
    color: #ff6060;
    transition: 0.5s ease-out;
    ul {
      list-style: none;
      li {
        margin-block: 5px;
      }
    }
  }
  .zoneDeContenu.active .contenu {
    height: 100%;
    padding: 15px;
    max-height: 100%;
    margin-top: 10px;
  }
}
