.slogan {
  position: relative;
  display: flex;
  max-width: 1240px;
  height: 223px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  // box-shadow: 1px 1px 5px 1px black;

  // // background-image: url(../images/IMG.png);
  h2 {
    width: 100%;
    position: absolute;
    top: 35%;
    height: auto;
    z-index: 2;
    text-align: center;
    color: white;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    mix-blend-mode: darken;
  }
}
