.slogan {
  display: flex;
  width: 1240px;
  height: 223px;
  border: 1px solid rgb(54, 19, 19);
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  // background-image: url(../images/IMG.png);
  object-fit: cover;
  h2 {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 48px;
    color: rgb(28, 27, 27);
  }
  .image-banniere {
    max-width: 100%;
    object-fit: cover;
  }
}
