.slogan {
  position: relative;
  display: flex;
  max-width: 1240px;
  height: 223px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;

  h2 {
    width: 100%;
    padding-inline: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    z-index: 2;
    text-align: center;
    color: white;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    filter: brightness(0.7);
  }
}

@media (max-width: 375px) {
  .slogan {
    height: 111px;
  }
}
