.logo-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  height: 100px;
  img {
    width: auto;
    height: 66px;
  }
  nav {
    display: flex;
    // gap: 200px;
    // height: 100%;
  }
  ul {
    // gap: 20px;
    display: flex;
    height: 100%;
  }
  li {
    // position:absolute;
    color: #ff6060;
    width: 150px;
    height: 100%;
    // background-color: coral;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
