@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
@import "./accordeon";
@import "./carrousel";
@import "./banniere";
@import "./carte";
@import "./logo-nav";
@import "./erreur";

#root {
  background: white;
  color: rgb(18, 17, 15);
}
.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  max-width: 1240px;
}

main {
  min-height: calc(100vh - 130px);
}
.liste-appartements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cartes-appartements {
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #f7f7f7;
  height: 100%;
  padding: 10px;
}

.fiche-resume {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 50px auto;
  width: 1240px;
}
.fiche-appartement {
  display: flex;
  width: 1250px;
  height: 415px;
  overflow: hidden;
}

.page-appart {
  color: #ff6060;

  .info-appart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: 30px auto;
    h3 {
      font-size: 160%;
    }
    h4 {
      font-size: 18px;
      margin-block: 10px;
    }
    .span-tag {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background-color: #ff6060;
      border-radius: 8px;
      height: 30px;
      width: 180px;
    }
  }
}

.accordeon-appart {
  display: flex;
  gap: 25px;
  margin-inline: auto;
  max-width: 1240px;
  flex-wrap: wrap;
  .accordeon {
    margin: 0 auto;
    width: 48%;
  }
}

.fototag {
  display: flex;
  width: 16%;
  flex-flow: wrap;
  .info-hote {
    display: flex;
    align-items: center;
    font-size: 18px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: 10px;
    }
    .nom-hote {
      width: 90px;
    }
  }
}
.notation {
  position: relative;
  display: flex;
}

.etoile-star {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;

  font-size: 14px;
  margin: 20px auto;
}
.note-a-etoile {
  display: flex;
  max-width: 100px;
  font-size: 40px;

  justify-content: space-between;
}
.etoiles-grise {
  color: #6f6f6f;
}
.erreur {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  padding: 50px;
  .h1-erreur {
    h1 {
      margin: 0px auto;
    }
  }
  p {
    font-size: xx-large;
  }

  a {
    width: auto;
    color: #ff6060;
  }
}

footer {
  position: relative;
  background-color: #000000;
  text-align: center;
  max-width: 100%;
  height: 210px;
  color: white;
  .logo-footer {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: inline-block;
      margin-top: 40px;
    }
  }
}

@media (max-width: 1200px) {
  .page-appart .info-appart .description {
    width: 100%;
  }
  .fototag {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .fototag {
    flex-direction: row-reverse;
    width: 100%;
  }
  .accordeon-appart .accordeon {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slogan h2 {
    font-size: 95%;
  }
  .erreur {
    h1 {
      font-size: 160px;
    }
    p {
      font-size: 140%;
    }
  }
  .logo-nav img {
    height: 45px;
  }
}

@media (max-width: 375px) {
  .slogan h2 {
    font-size: 80%;
  }
  .span-tag {
    max-width: 375px;
  }
  .description {
    width: 80%;
  }

  .slogan img {
    height: 111px;
  }
}
