@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
@import "./accordeon";
@import "./carrousel";
@import "./banniere";
@import "./carte";
@import "./logo-nav";
@import "./erreur";

#root {
  background: white;
  color: rgb(18, 17, 15);
}
.App-header {
  position: relative;
  // background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  max-width: 1240px;

  // color: rgb(233, 48, 48);
}
// .logo-nav {
//   background-color: rgb(26, 181, 63);
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   align-items: stretch;
//   width: 1150px;
// }
main {
  // width: 1240px;
  min-height: calc(100vh - 130px);
}
.liste-appartements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.4);
  // border: 1px solid red;
}
.cartes-appartements {
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #f7f7f7;
  height: 100%;
  padding: 10px;
  // opacity: 1.5;
  // filter: opacity(100%);
}

.fiche-resume {
  display: flex;
  overflow: hidden;
  // height: 100px;
  flex-direction: column;
  // flex-direction: row;
  margin: 50px auto;
  width: 1240px;
}
.fiche-appartement {
  display: flex;
  width: 1250px;
  height: 415px;
  overflow: hidden;

  // background-color: aqua;
}

.page-appart {
  color: #ff6060;

  .info-appart {
    display: flex;
    justify-content: space-between;
    // border: 1px solid green;
    flex-wrap: wrap;
    max-width: 1240px;
    // flex-direction: column-reverse;
    // justify-items: flex-end;
    // max-width: 80%;
    margin: 30px auto;
    .description {
      background-color: blueviolet;
      // margin: 0 auto;
      // width: 80%;
    }
    h3 {
      // border: 1px solid yellow;
      max-width: 85%;
      font-size: 36px;
    }
    h4 {
      font-size: 18px;
      margin-block: 10px;
    }
    .span-tag {
      display: flex;
      flex-wrap: wrap;
      // background-color: coral;
      // flex-wrap: wrap;
      //width: 115px;
      //min-width: 505px;
      gap: 10px;
    }
    span {
      // display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      background-color: #ff6060;
      border-radius: 8px;
      height: 30px;
      width: 180px;
      // max-width: 100%;
      // font-size: 14px;
      // margin-right: 10px;
      // padding: 5px;
    }
  }
  // .info-hote {
  //   display: flex;
  //   align-items: center;
  //   font-size: 18px;
  //   img {
  //     width: 64px;
  //     height: 64px;
  //     border-radius: 50%;
  //     margin-left: 10px;
  //   }
  // }
}

// .span-tag {
//   display: inline-block;
//   text-align: center;
//   color: rgb(255, 255, 255);
//   // background-color: #ff6060;
//   border-radius: 15px;
//   height: 30px;
//   min-width: 150px;
//   font-size: 14px;
//   margin-right: 10px;
//   padding: 5px;
// }

.accordeon-appart {
  display: flex;
  // justify-content: space-between;
  gap: 25px;
  //border-radius: 10px;
  margin-inline: auto;
  max-width: 1240px;
  // width: clamp(250px, 70%, 1250px);
  // width: 1440px;
  // border: 1px solid rgb(223, 27, 27);
  // background-color: aqua;
  flex-wrap: wrap;
  .accordeon {
    margin: 0 auto;
    width: 48%;
    // display: flex;
    // justify-content: space-between;
    // max-width: 450px;
    // border: 2px solid black;
  }
}

.fototag {
  display: flex;
  // border: 1px solid pink;
  width: 16%;
  flex-flow: wrap;
  .info-hote {
    display: flex;
    align-items: center;
    font-size: 18px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: 10px;
    }
    .nom-hote {
      // border: 2px solid black;
      width: 90px;
    }
  }
}
.notation {
  position: relative;
  display: flex;
  // order: 1;
  //border: 2px solid black;
}

.etoile-star {
  // position: absolute;
  // overflow: hidden;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  // text-align: center;
  // color: rgb(255, 255, 255);
  // background-color: #ff6060;
  //border: 2px solid black;
  // height: 30px;
  // min-width: 150px;
  font-size: 14px;
  margin: 20px auto;
  // padding: 5px;
}
.note-a-etoile {
  display: flex;
  max-width: 100px;
  font-size: 40px;

  justify-content: space-between;
}
.etoiles-grise {
  color: #6f6f6f;
}

footer {
  position: relative;
  background-color: #000000;
  text-align: center;
  max-width: 100%;
  height: 210px;
  color: white;
  .logo-footer {
    // position: absolute;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    // filter: brightness(10);
    img {
      display: inline-block;
      margin-top: 40px;
    }
  }
}

@media (max-width: 1200px) {
  .page-appart .info-appart .description {
    width: 100%;
  }
  .fototag {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .fototag {
    flex-direction: row-reverse;
    width: 100%;
  }
  .accordeon-appart .accordeon {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slogan h2 {
    font-size: 95%;
  }
}

@media (max-width: 375px) {
  .slogan h2 {
    font-size: 80%;
  }
  .span-tag {
    max-width: 375px;
  }
  .description {
    width: 80%;
  }
  .slogan {
    // margin-top: 50px;
    // margin-bottom: 70px;
  }
  .slogan img {
    height: 111px;
  }
}
