@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
@import "./accordeon";
@import "./carrousel";
@import "./banniere";
@import "./carte";
@import "./logo-nav";
@import "./erreur";

#root {
  background: white;
  color: rgb(18, 17, 15);
}
.App-header {
  position: relative;
  // background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  // color: rgb(233, 48, 48);
}
// .logo-nav {
//   background-color: rgb(26, 181, 63);
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   align-items: stretch;
//   width: 1150px;
// }
main {
  // width: 1240px;
  min-height: calc(100vh - 130px);
}
.liste-appartements {
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cartes-appartements {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  background-color: gainsboro;
  height: 100%;
  padding: 35px;
}

.fiche-resume {
  display: flex;
  overflow: hidden;
  // background-image: url(../images/Background.png);
  // justify-content: center;
  // background-size: cover;
  // height: 100px;
  flex-direction: column;
  // flex-direction: row;
  margin: 50px auto;
  width: 1240px;
}
.fiche-appartement {
  display: flex;
  width: 1250px;
  height: 415px;
  overflow: hidden;

  // background-color: aqua;
}

.page-appart {
  color: #ff6060;

  .info-appart {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 30px auto;
    h3 {
      max-width: 85%;
      font-size: 36px;
    }
    h4 {
      font-size: 18px;
      margin-block: 10px;
    }
    span {
      display: inline-block;
      text-align: center;
      color: white;
      background-color: #ff6060;
      border-radius: 15px;
      height: 30px;
      min-width: 150px;
      font-size: 14px;
      margin-right: 10px;
      padding: 5px;
    }
  }
  .info-hote {
    display: flex;
    align-items: center;
    font-size: 18px;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
}
.accordeon-appart {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  border-radius: 10px;
  max-width: auto;
}
footer {
  background-color: #000000;
  text-align: center;
  max-width: 1440px;
  height: 210px;
  color: white;
  .logo-footer {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: inline-block;
      color: white;
    }
  }
}
